
svg{
	width: 50%;
	fill: #d0d0d4;
}

.map__img{
	width: 50%;
	float: left;
	font-family:'DINAlternate-Bold';
	font-size:9px;
	color:white;
}
.text{
	fill: white;
}
.contour{
	fill: white;
}
.local{
	fill: #d0d0d4;
	transition: fill 0.3s;
}
.local:active{
	fill: red;
}
.map__list{
	color: inherit;
	text-decoration: none;
	transition: color 0,3s;
}
.map__list .is-active{
	color: red;
}
.map__img .is-active{
	fill: red;
}

.hidden{
	display: none;
	animation: desc-disparition .5s forwards;
}

.desc{
	height: 0px;
	margin: 0px;
	opacity: 0;
	animation: desc-apparition .5s forwards;
	color: black;
}
@keyframes desc-apparition{
	from{
		height: 0px;
		margin: 0px;
		opacity: 0;
	}
	to{
		height: 20px;
		margin: 16px;
		opacity: 1;
	}
}
@keyframes desc-disparition{
	from{
		height: 20px;
		margin: 16px;
		opacity: 1;
	}
	to{
		
		height: 0px;
		margin: 0px;
		opacity: 0;
	}
}

.sous-sol{
	transform: translateX(-10px) translateY(10px);
}
.etage{
	transform: translateX(10px) translateY(-10px);
}
.global-etage{
	opacity: 0.2;
}
.global-etage-active {
    opacity: 1;
}

